<p-fileupload
  [id]="id"
  [name]="name"
  [chooseLabel]="chooseLabel"
  [cancelLabel]="cancelLabel"
  [uploadLabel]="uploadLabel"
  [multiple]="multiple"
  [accept]="accept"
  [maxFileSize]="maxFileSize"
  [mode]="mode"
  [url]="url"
  [showUploadButton]="showUploadButton"
  [showCancelButton]="showCancelButton"
  [auto]="auto"
  [disabled]="disabled()"
  (onUpload)="onUpload($event)"
  (onSelect)="onSelect($event)"
  (onRemove)="onRemove($event)"
  (onClear)="onClear($event)"
  class="w-full"
  [class.p-invalid]="invalid"
>
  <ng-template #empty>
    <div class="text-center p-4 text-gray-500">
      {{ emptyMessage }}
    </div>
  </ng-template>
  <ng-template #content>
    <div class="space-y-2">
      @for (file of uploadedFiles(); track file.name) {
      <div
        class="flex items-center justify-between p-2 bg-gray-50 rounded border"
      >
        <span class="text-sm truncate">{{ file.name }}</span>
        <span class="text-xs text-gray-500"
          >{{ file.size | number }} bytes</span
        >
      </div>
      }
    </div>
  </ng-template>
</p-fileupload>
